/*Fonts*/
/*font-family: 'Slabo 27px', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Montserrat Subrayada', sans-serif;*/

p,li {
  font-size: 1.5em;
}
a {
  cursor: pointer;
}
h2 {
  font-size: 2em;
}

.b-pad {
  padding: 0 20px; 
  box-sizing: border-box;
}


.nav-ul {
  padding: 0;
  margin:0;
  text-align: center;
}


/*======== For Mobile ===========*/
/*.box-1 {
  background-color: #EEE6AB;
}
.box-2 {
  background-color: #C5BC8E;
}
.box-3 {
  background-color: #696758;
}*/