/*Fonts*/
/*font-family: 'Montserrat', sans-serif;*/
/*font-family: 'Muli', sans-serif;*/
  html, body {
    height: 100%;
  }
  .nav-li {
    list-style-type: none; 
    display: inline-block;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin: 0;
    color: lightblue;
    margin-left: 10px;
  }
  a {
    cursor: pointer;
  }
  .nav-ul {
    padding: 0;
    margin:0;
    text-align: center;
    background-color: #fff;
    margin-top: 20px;
  }